.footer {
  max-width: 100%;
  margin: 0 auto;
}
.footer__copyright {
  padding: 92px 0 24px 0;
  margin: 0 auto;
  max-width: auto;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 627px) {
  .footer__copyright {
    padding-top: 64px;
  }
}
@media (min-width: 627px) and (max-width: 768px) {
  .footer__copyright {
    padding-top: 88px;
  }
}
