.header {
  width: 100%;
  padding: 34px 0 0 0;
  margin: 0;
}
.header__logo {
  display: block;
  width: 270px;
  height: 70px;

  margin: 0 auto;
}
@media screen and (max-width: 627px) {
  .header {
    max-width: 100%;
  }
  .header__logo {
    width: 200px;
    height: 51.85px;
  }
}

@media (min-width: 627px) and (max-width: 768px) {
  .header__logo {
    max-width: 270px;
  }
}
