.places {
  max-width: 987px;
  margin: 92px auto 0 auto;
  padding: 0;
}
.place {
  max-width: 984px;
  color: #fff;
  margin: 0 0 80px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, content-fit);
  column-gap: 40px;
  row-gap: 25px;
  grid-auto-rows: min-content;
}
.place:nth-child(4) .place__image {
  /* grid-column: 1 / 2; */
  grid-row: 2 / 5;
  /* height: 48px; */
}
.place:nth-child(5) .place__button {
  grid-row: auto;
  height: 48px;
}

.place__title {
  max-width: 460px;
  height: 152px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 0 48px 0;
  padding: 0;
}
.place__artist {
  margin: 0;
  padding: 0;
  align-self: end;
  margin: 0 0 48px 0;
}
.place__url-heading {
  max-width: 50px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.place__artist-title {
  max-width: 456px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
.place__image {
  max-width: 460px;
  height: 460px;
  margin: 0;
  padding: 0;
  grid-row: 2 / 4;
}
.place__paragraph {
  max-width: 484px;
  height: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 0;
  grid-column: 2;
}
.place__paragraph::before,
.place__paragraph::after {
  padding: 0;
  margin: 0;
}
.place__button {
  margin: 48px 0 0 0;
  padding: 13px 20px;
  max-width: 248px;
  background: #0278fe;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: none;
  grid-column: 1 / 2;
}
