.places {
  max-width: 987px;
  margin: 92px auto 0 auto;
  padding: 0;
}
.place {
  max-width: 984px;
  color: #fff;
  margin: 0 0 80px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  row-gap: 25px;
  grid-template-areas:
    "title artist"
    "image paragraphs"
    "button paragraphs"
    ". paragraphs";
}

.place__title {
  grid-area: title;
  max-width: 460px;
  height: 152px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 0 48px 0;
  padding: 0;
}
.place__artist {
  grid-area: artist;
  margin: 0;
  padding: 0;
  align-self: end;
  margin: 0 0 23px 0;
}
.place__url-heading {
  max-width: 50px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.place__artist-title {
  max-width: 456px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
.place__image {
  grid-area: image;
  max-width: 460px;
  height: 460px;
  margin: 0;
  padding: 0;
}
.place__paragraphs {
  grid-area: paragraphs;

  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.place__paragraph {
  max-width: 484px;
  height: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 0;
  grid-column: 2;
}
.place__paragraph::before,
.place__paragraph::after {
  padding: 0;
  margin: 0;
}
.place__button {
  grid-area: button;
  margin: 23px 0 0 0;
  padding: 13px 20px;
  max-width: 248px;
  background: #0278fe;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: none;
}

@media screen and (max-width: 627px) {
  .places {
    max-width: 288px;
    margin: 62px auto 0 auto;
    padding: 0;
  }
  .place {
    max-width: 100%;
    grid-template-columns: 288px;
    grid-auto-rows: max-content;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "paragraphs"
      "button ";
    row-gap: 30px;
    margin: 0 0 63px 0;
  }
  .place__title {
    font-size: 32px;
    line-height: 35px;
    text-align: left;
    height: auto;
    margin-bottom: 0;
  }
  .place__artist {
    max-width: 100%;
    margin-bottom: 0;
  }
  .place__image {
    max-width: 100%;
    height: auto;
  }
  .place__paragraph {
    max-width: 100%;
  }
  .place__button {
    margin: 0 auto 0 auto;
    max-width: 100%;
  }
  .place__button:hover {
    cursor: pointer;
  }
}

@media (min-width: 627px) and (max-width: 768px) {
  .places {
    max-width: calc(100% - 20px);
    margin-top: 90px;
  }

  .place {
    grid-gap: 0;
    column-gap: 25px;
  }
  .place__title {
    font-size: 42px;
    line-height: 46px;
    height: auto;
    margin-bottom: 46px;
  }
  .place__artist {
    margin-bottom: 46px;
  }
  .place__paragraph {
    font-size: 16px;
  }
  .place__image {
    max-width: 100%;
    height: auto;
  }
  .place__button {
    margin-top: 48px;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .places {
    max-width: calc(100% - 20px);
    margin-top: 90px;
  }
}
